.navbar-container {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: #101f36;
  list-style: none;
}

.list-items-container {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}

.list-item {
  color: #fff;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.list-item:hover {
  background: #1e3c68;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}

.dropdown {
  width: 150%;
  background: #101f36;
  position: absolute;
  display: none;
  margin-top: 0.5rem;
}

.list-item:hover .dropdown {
  display: block;
}

.delete-user {
  border-top: 1px solid grey;
}
