.navbar-container {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: #101f36;
  list-style: none;
  color: #fff;
  padding: 1.5rem;
}

.home-icon {
  font-size: 1.5rem;
}

.login-link {
  background: rgb(251, 251, 89);
  color: black;
  padding: 0.5rem;
  border-radius: 20%;
}

.login-link:hover {
  /* todo add shadow effect */
  border: 1px solid white;
}

.link-item {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.link-item:hover {
  background: #1e3c68;
}

.dropdown {
  width: fit-content;
  background: #101f36;
  position: absolute;
  display: none;
  margin-top: 0.5rem;
  left: -20px;
}

.link-item:hover .dropdown {
  display: block;
}

.delete-user {
  border-top: 1px solid grey;
}

@media only screen and (max-width: 400px) {
  .navbar-container {
    flex-direction: column;
    height: fit-content;
  }
}
